spring:
  application:
    name: cart-mcsv

  profiles:
    active: ${SPRING_PROFILES_ACTIVE}

  config:
    import:
      - ${SECRET_APP_PROD_PATH}
      - ${SECRET_CART_SERVICE_PROD_PATH}

  jpa:
    database-platform: org.hibernate.dialect.H2Dialect

    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

user:
  service:
    url: ${USER_SERVICE_URI:http://localhost:8081}

inventory:
  service:
    url: ${INVENTORY_SERVICE_URI:http://localhost:8082}

server:
  port: ${CART_SERVICE_PORT}

## Si el servicio falla muchas veces (50% de fallos en 10 intentos),
## el circuito se cierra por 5 segundos para evitar seguir llamándolo.
## Después prueba con 3 llamadas. Si funcionan, vuelve a la normalidad.
resilience4j:
  circuitbreaker:
    instances:
      inventoryService:
        sliding-window-size: 10
        minimum-number-of-calls: 5
        failure-rate-threshold: 50
        wait-duration-in-open-state: 5s
        permitted-number-of-calls-in-half-open-state: 3
        automatic-transition-from-open-to-half-open-enabled: true
      userService:
        sliding-window-size: 10
        minimum-number-of-calls: 5
        failure-rate-threshold: 50
        wait-duration-in-open-state: 5s
        permitted-number-of-calls-in-half-open-state: 3
        automatic-transition-from-open-to-half-open-enabled: true


management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      probes:
        enabled: true
      show-details: when_authorized