
spring:
  application:
    name: cart-mcsv

  datasource:
    url: jdbc:postgresql://localhost:5432/arka_db
    username: username
    password: passowrd
    driver-class-name: org.postgresql.Driver
  h2:
    console:
      enabled: true
  jpa:
    database-platform: org.hibernate.dialect.H2Dialect

    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8086


