spring:
  application:
    name: user-mcsv

  datasource:
    url: jdbc:postgresql://localhost:5432/arka_db
    username: username
    password: pass
    driver-class-name: org.postgresql.Driver

  jpa:
    database-platform: org.hibernate.dialect.H2Dialect
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect

server:
  port: 8085