spring:
  application:
    name: inventory-mcsv

  profiles:
    active: ${SPRING_PROFILES_ACTIVE}

  config:
    import:
      - ${SECRET_APP_DEV_PATH}
      - ${SECRET_INVENTORY_SERVICE_DEV_PATH}

server:
  port: ${INVENTORY_SERVICE_PORT:8082}

management:
  endpoints:
    web:
      exposure:
        include: health,info
  endpoint:
    health:
      probes:
        enabled: true
      show-details: when_authorized
